/VoteMeter.class
/PositiveNegtive.class
/MultipliactionTable.class
/MultiplicationTable.class
/AverageHeight.class
/MultipliactionuntilZero.class
/CopyTwoDArrayIntoOneDArray.class
/FizzBuzz.class
/FactorsContor.class
/FactorsCounter.class
/MultiplicationTables.class
/BMICalculator.class
/DigitFrequency.class
/Bonous.class
/LargestTwoDigit.class
/YoungestTallestFriend.class
/LargestDigit.class
/ReverseArray.class
/BMICAalculatorUs.class
/StudentGrades.class
/StudentMarks.class
