/package-info.class
/ChechAnagram.class
/CompareStringLexicographically.class
/LongestWordInString.class
/MostFrequentCharacter.class
/PalindromeStringChecker.class
/RemoveDuplicate.class
/RemoveSpecificCharacter.class
/ReplaceWord.class
/ReverseString.class
/SubstringOccurence.class
/ToggleCoe.class
/ToggleCore.class
/CheckAnagram.class
/LongestWordInSentence.class
/SubstringOccurrences.class
