/WelcomeMessage.class
/AreaOfCircle.class
/AverageOfThreeNumber.class
/KilometerToMiles.class
/Power.class
/PrimeCheck.class
/PerimeterOfRectangle.class
/SumOfTwoNumber.class
/SimpleInterset.class
/TemperatureConverter.class
/VolumeOfCylinder.class
